@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
}

nav {
    margin: 1vw 0;
    border-radius: 10em;
}

a {
    text-decoration: none;
}

button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 400ms;
    cursor: pointer;
    margin-right: 1000px;
}

.download-button {
    border: 2px solid #0B2B26;
    border-radius: 10px;
    color: #0B2B26;
    background-color: #fff;

    transition-duration: 300ms
}

.download-button:hover {
    color: #fff;
    background-color: #0B2B26;
}